@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

p {
  margin: 0;
}

main {
  background-color: #f8f8f8;
  padding-top: 70px;
  display: flex;
  justify-content: center;
}

.main-wrapper {
  width: 80%;
  max-width: 1200px;
}

.title {
  margin: 60px 0 30px 40px;
  color: #24292c;
  font-size: 22px;
}

.tab-btn {
  width: 200px;
  border: 1px solid #dae1e7;
  padding: 15px;
  cursor: pointer;
  color: #818890;
  font-size: 15px;
  font-weight: 700;
  appearance: none;
  background-color: transparent;
  margin-bottom: -1px;
  z-index: 1;
}

.tab-btn:first-of-type {
  border-radius: 6px 0 0 0;
}

.tab-btn:last-of-type {
  border-radius: 0 6px 0 0;
}

.tab-btn.active {
  background-color: white;
  border-bottom-color: white;
  color: #0083bb;
}

.tab-content {
  width: 100%;
  background-color: white;
  padding: 80px;
  align-items: flex-start;
  gap: 40px;
  border: 1px solid #dae1e7;
  border-radius: 0 6px 6px 6px;
}

span {
  color: #818890;
  font-size: 13px;
}

.calendars-wrapper {
  display: flex;
  gap: 20px;
}

.calendars-wrapper > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.emp-btn {
  width: 140px;
  height: 44px;
  background-color: #00a1e6;
  border: none;
  border-radius: 22px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  margin: 5px 10px 0 0;
}

.emp-btn:hover {
  cursor: pointer;
  background-color: #00b8e0;
}

.excel {
  background-color: #84c100;
}

.excel:hover {
  background-color: #91d300;
}

input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0;
  z-index: 1;
  width: 100%;
  cursor: pointer;
}

input[type='date'] {
  border: none;
  border-bottom: 1px solid #bec4cc;
  padding: 0 10px 10px 0;
  position: relative;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.calendar-icon {
  position: relative;
  padding-right: 40px;
}

.calendar-icon:after {
  content: url(./assets/calendar.svg);
  position: absolute;
  top: -4px;
  right: 42px;
}

.label {
  display: block;
  font-size: 13px;
  color: #818890;
  margin: 4px 0 15px;
}

.calendar-container {
  display: inline-block;
  margin-bottom: 30px;
}

.select {
  width: 200px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #bec4cc;
  font-size: 15px;
  font-weight: 500;
  color: #24292c;
  margin-bottom: 30px;
}

.select:focus {
  outline: none;
}

@media (max-width: 700px) {
  .main-wrapper {
    width: 95%;
  }
}
